body {
  background-color: #848484;
  padding: 2px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  min-width: 315px;
}
a:link {
  color: #01008b;
}
a:visited {
  color: #01004c;
}
a:hover {
  color: red;
}
a:active {
  color: blue;
}
nav a img {
	float: left;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}
nav a {
	float: left;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 50px;
	height: 60px;
}
nav a:nth-child(even){
	background-color: #939393;
}
#gallery a {
	position: relative;
	padding: 5px;
	float: left;
	display: block;
	width: 128px;
	height: 72px;
}
#gallery a img {
	max-width:128px;
	max-height:72px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
hr {
	padding: 5px;
	margin-left: 0px;
	width: 850px;
	clear: left;
	border: none;
	border-bottom: 4px dashed;
	overflow: hidden;
	color: #2a2a2a;
}
.filterOption {
	display:block;
	float: left;
	height: 25px;
	padding: 1px;
	padding-top: 5px;
	padding-right: 5px;
}
.filterOption:nth-child(even){
	background-color: #b3b3b3;
}
.inputNum {
	width: 30px;
}
h1.background {
	margin: 0px;
	padding: 0px;
	font-size: 8px;
}
#filterOptionTags {
	clear: left;
}
#filterOptionTags div {
	float:left;
	padding: 1px;
	margin: 2px;
	cursor: pointer;
	min-width: 90px;
	font-family: "Helvetica Narrow","Arial Narrow",Helvetica,sans-serif;
}
#filterOptionTags div:nth-child(even){
	background-color: #b3b3b3;
}
#filterOptionTags div.normaltag {
	
}
#filterOptionTags div.negativetag {
	color: red;
}
#filterOptionTags div.zerotag {
	color: #8a8a8a;
	cursor: text;
}
article p {
	text-align: justify;
	font-size: 1.2em;
	max-width: 600px;
	margin-left: 1em;
	margin-top: 0.5em;
}
article h1 {
	font-size: 2em;
	color: white;
	margin-left: 0.7em;
	margin-bottom: 0px;
}
article h2 {
	margin-bottom: 0em;
	margin-top: 1.2em;
	margin-left: 0.7em;
}
article div.left {
	float: left;
}
article p.clearleft {
	clear: left;
}
article ul {
	margin-top: 0px;
}
article strong {
	color: white;
}
.rating ul li {
	max-width: 600px;
	text-align: justify;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}
div.left img {
	margin-left: 1.5em;
}
div.left li img {
	margin-left: 0;
}
ul.book {
	margin-bottom: 3em;
}
div.clearleft {
	clear: left;
}
.book {
	clear:left;
	margin-left: 1.5em;
}
.cover {
	float: left;
	width: 260px;
	margin-bottom: 50px;
}
.cover img {
	max-height: 300px;
	
}
.rating {
	float: left;
	margin-bottom: 30px;
}
.cover i {
	font-size: 7px;
	color: #5c5c5c;
	white-space: nowrap;
}
#bookpile .bok {
	float: left;
	width: 192px;
	height: 340px;
	margin: 5px;
}
#bookpile .bok  img{
	max-width: 192px;
	max-height: 256px;
}
#bookpile .bok  a{
	display: block;
	width: 192px;
	height: 256px;
}
#bookpile .bok i{
	display: block;
	font-family: "Helvetica Narrow", "Arial Narrow", Arial, sans-serif;
	font-stretch: condensed;
	font-size: 14px;
}
#bookpile .bok b{
	display: block;
	font-family: "Helvetica Narrow", "Arial Narrow", Arial, sans-serif;
	font-stretch: condensed;
	font-size: 14px;
}
.tool {
	clear:left;
}
.tool .pic {
	display:block;
	float: left;
}
.tool .desc {
	float: left;
	display: block;
}
.tool .pic img {
		margin-left: 20px;
		margin-right: 5px;
		max-width: 192px;
		max-height: 256px;
}
.tool .desc p {
	text-align: justify;
    font-size: 1.2em;
    max-width: 600px;
    margin-left: 1em;
    margin-top: 0.5em;
}
.tool .desc.canceled {
	background-image: url("tool/canceled.png");
	background-repeat: no-repeat;
	background-position: center;
}
ul#crits li {
	font-size: 1.2em;
	font-style: italic;
	text-align: justify;
	list-style-type: none;
	max-width: 800px;
	clear: left;
}
ul#crits {
	margin: 0px;
	padding-left: 25px;
}
ul#crits li a{
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	display:block;
	float:left;
}
ul#crits li:nth-child(odd) a{
	background-color: #b3b3b3;
}
ul#crits li a:link {
	color:black;
	text-decoration: none;
}
ul#crits li a:visited {
	color:black;
	text-decoration: none;
}
ul#crits li a:hover {
	color:red;
	text-decoration: underline;
}
ul#crits li a::before{
	float:left;
	display: block;
	width: 2.1em;
	height: 2.1em;
	content: "";
	background-size:2em;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-right: 5px;
}
ul#crits li.bad a::before{
	background-image: url("crit/bad.png");
}
ul#crits li.lol a::before{
	background-image: url("crit/lol.png");
}
ul#crits li.yes a::before{
	background-image: url("crit/yes.png");
}
.quote{
	font-size: 1.2em;
	font-style: italic;
}
div.project{
	margin-top: 50px;
	margin-bottom: 30px;
	clear: left;
}
div.project a img{
	margin-left: 20px;
	margin-bottom: 30px;
	float: left;
	width: 260px;
}
div.project div.desc{
	float: left;
	margin-bottom: 30px;
}
div.project div.desc h2{
	margin-top: 0px;
}