body {
  background-color: #848484;
  padding: 2px;
  font-family: Tahoma, Arial, sans-serif;
  color: black;
  font-size: 1.2rem;
  margin-left: 0.8rem;
}
a:link {
  color: #01008b;
}
a:visited {
  color: #01004c;
}
a:hover {
  color: red;
}
a:active {
  color: blue;
}
nav a img {
	float: left;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}
nav a {
	float: left;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 50px;
	height: 60px;
}
nav a:nth-child(even){
	background-color: #939393;
}
#gallery a {
	position: relative;
	padding: 5px;
	float: left;
	display: block;
	width: 128px;
	height: 72px;
}
#gallery a img {
	max-width:128px;
	max-height:72px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
hr {
	padding: 5px;
	margin-left: 0px;
	max-width: 80ch;
	clear: left;
	border: none;
	border-bottom: 4px dashed;
	overflow: hidden;
	color: #2a2a2a;
}
.filterOption {
	display:block;
	float: left;
	height: 30px;
	padding: 3px;
	font-size: 1.1rem;
}
.filterOption input[type=submit]{
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	color: black;
	font-size: 1.2rem;
}
.filterOption input[type=reset]{
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	color: black;
	font-size: 1.2rem;
}
.filterOption:nth-child(even){
	background-color: #b3b3b3;
}
.inputNum {
	width: 30px;
}
h1.background {
	margin: 0px;
	padding: 0px;
	font-size: 0.5rem;
}
#filterOptionTags {
	clear: left;
}
#filterOptionTags div {
	float:left;
	padding: 2px;
	margin: 2px;
	cursor: pointer;
	min-width: 90px;
	font-size: 1.0rem;
}
#filterOptionTags div:nth-child(even){
	background-color: #b3b3b3;
}
#filterOptionTags div.normaltag {
	
}
#filterOptionTags div.negativetag {
	color: red;
}
#filterOptionTags div.zerotag {
	color: #8a8a8a;
	cursor: text;
}
article p {
	text-align: justify;
	max-width: 70ch;
	margin-top: 0.0rem;
	margin-bottom: 1.0rem;
}
article ul {
	padding-left: 2ch;
	text-align: justify;
	max-width: 68ch;
	margin-top: 0px;
}
article ol {
	padding-left: 2ch;
	text-align: left;
	max-width: 68ch;
	margin-top: 0px;
}
article h1 {
	font-size: 2rem;
	color: white;
	margin-top: 2.0rem;
	margin-bottom: 0.5px;
	margin-left: 0.7rem;
}
article h2 {
	font-size: 1.5rem;
	margin-top: 2.0rem;
	margin-bottom: 0.5rem;
	margin-left: 0.6rem;
}
article h3 {
	font-size: 1.3rem;
	margin-top: 2.0rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
}
article .fullpic {
	width: 100%;
}
article div.left {
	float: left;
}
article strong {
	color: white;
}
article .split35 {
	display: block;
	float: left;
	max-width: 24ch;
}
article .split65 {
	display: block;
	float: left;
	max-width: 46ch;
}
article .splitpic {
	width: 92%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer p.quote {
	max-width: 70ch;
	font-size: 1.2rem;
	font-style: italic;
}
footer p {
	max-width: 100ch;
	font-size: 0.9rem;
	margin-left: 1rem;
	margin-top: 0.5rem;
}

.rating ul li {
	max-width: 55ch;
	text-align: justify;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}
div.left img {
	margin-left: 1.5rem;
}
div.left li img {
	margin-left: 0;
}
ul.book {
	margin-bottom: 3rem;
}
.clearleft {
	clear: left;
}
.book {
	clear:left;
	padding-top: 2.5rem;
}
.book .cover {
	float: left;
	max-width: 24ch;
}
.book .cover img {
	max-width: 95%;
}
.book .rating {
	float: left;
	max-width: 46ch;
}
.book .cover i {
	margin-top: 9px;
	margin-bottom: 9px;
	display: block;
	clear: left;
	font-size: 9px;
	word-break: keep-all;
}
#bookpile .bok {
	float: left;
	width: 192px;
	height: 340px;
	margin: 5px;
}
#bookpile .bok  img{
	max-width: 192px;
	max-height: 256px;
}
#bookpile .bok  a{
	display: block;
	width: 192px;
	height: 256px;
}
#bookpile .bok i{
	display: block;
	font-family: "Helvetica Narrow", "Arial Narrow", Arial, sans-serif;
	font-stretch: condensed;
	font-size: 14px;
}
#bookpile .bok b{
	display: block;
	font-family: "Helvetica Narrow", "Arial Narrow", Arial, sans-serif;
	font-stretch: condensed;
	font-size: 14px;
}
.tool {
	clear: left;
	max-width: 70ch;
	padding-top: 2.5rem;
}
.tool .pic {
	max-width: 30%;
	min-width: 10ch;
	display:block;
	float: left;
}
.tool .desc {
	max-width: 70%;
	float: left;
	display: block;
}
.tool .desc h2 {
	margin-top: 0.0rem;
}
.tool .pic img {
	width: 92%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tool .canceled {
	background-image: url("tool/canceled.png");
	background-repeat: no-repeat;
	background-position: center;
}
ul#crits li {
	font-size: 1.2rem;
	font-style: italic;
	text-align: justify;
	list-style-type: none;
	max-width: 70ch;
	clear: left;
}
ul#crits {
	margin: 0px;
	padding-left: 25px;
}
ul#crits li a{
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	display:block;
	float:left;
}
ul#crits li.year{
	width: 70ch;
	text-align: left;
	padding: 10px;
	padding-left: 20rem;
	margin-bottom: 20px;
	display:block;
	float:left;
	font-size: 2rem;
	font-weight: bold;
}
ul#crits li:nth-child(odd) a{
	background-color: #b3b3b3;
}
ul#crits li a:link {
	color:black;
	text-decoration: none;
}
ul#crits li a:visited {
	color:black;
	text-decoration: none;
}
ul#crits li a:hover {
	color:red;
	text-decoration: underline;
}
ul#crits li a::before{
	float:left;
	display: block;
	width: 2.1rem;
	height: 2.1rem;
	content: "";
	background-size:2rem;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-right: 5px;
}
ul#crits li.bad a::before{
	background-image: url("crit/bad.png");
}
ul#crits li.lol a::before{
	background-image: url("crit/lol.png");
}
ul#crits li.yes a::before{
	background-image: url("crit/yes.png");
}

p a.reflink{
	/*vertical-align: super;*/
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
	font-size: 0.9rem;
}
.referenceList li{
	margin-top: 1rem;
} 
.referenceList a{
	word-break: break-all;
}